<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Very dumb NOSTR client</title>
  </head>
  <body>
  <button id="sendMessageButton" onclick="sendEvent()">Send Event</button>
  <button id="sendMessageButton2" onclick="sendReq()">Send Req</button>
  <button id="sendMessageButton3" onclick="sendClose()">Send Close</button>
  <script>

      let socket = new WebSocket('ws://localhost:8080/nostr');
      const eventData = {
          "id": "fedcba551",
          "pubkey": "abcdef012345",
          "created_at": 1632871,
          "kind": 1,
          "tags": ["tag1", "tag2"],
          "content": "arbitrary content",
          "sig": "abcdef0123456789abcde"
      };
      const reqData = {
          "ids": ["fedcba551", "aaaaaab"],
          "authors": ["abcdef012345", "pubkey2", "pubkey3"],
          "kinds": [0, 1],
          "#e": ["sdfs", "gzhh", "df"],
          "#p": ["pubkey4", "pubkey5", "pubkey6"],
          "since": 1642156800,
          "until": 1642243200,
          "limit": 10
      }

      const eventMessage = JSON.stringify(["EVENT", eventData]);
      const reqMessage = JSON.stringify(["REQ", "sample_sub_id", reqData]);
      const closeMessage = JSON.stringify(["CLOSE", "sample_sub_id"]);

      socket.addEventListener('open', function (event) {
        console.log('WebSocket connection opened:', event);
      });

      socket.addEventListener('message', function (message) {
        console.log('Message from relay:', message.data);
      });

      socket.addEventListener('close', function (message) {
        console.log('WebSocket connection closed:', message);
      });

      function sendEvent() {
          console.log('Sending message:', eventMessage);
          socket.send(eventMessage);
      }

      function sendReq() {
          console.log('Sending message:', reqMessage);
          socket.send(reqMessage);
      }

      function sendClose() {
          console.log('Sending message:', closeMessage);
          socket.send(closeMessage);
      }

    </script>
  </body>
</html>