<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Very dumb NOSTR client</title>
  </head>
  <body>
  <button id="sendEvent1" onclick="sendEvent()">Send Event</button>
  <button id="sendEvent2" onclick="sendEvent2()">Send Event 2</button>
  <button id="sendKind0_1" onclick="sendKind0()">Send kind 0</button>
  <button id="sendKind0_2" onclick="sendKind0_2()">Send kind 0</button>
  <button id="sendReq1" onclick="sendReq()">R pubkey 1</button>
  <button id="sendReq2" onclick="sendReq2()">R pubkey 3 kind 1</button>
  <button id="sendReq3" onclick="sendReq3()">R kind 0</button>
  <button id="sendReqKind0" onclick="reqKind0()">Send Req kind 0</button>
  <button id="sendClose" onclick="sendClose()">Send Close</button>
  <button id="sendClose2" onclick="sendClose2()">Send Close 2</button>
  <button id="sendInvalid" onclick="sendInvalid()">Invalid</button>
  <script>

      let socket = new WebSocket('ws://localhost:8080/');
      const eventData = {
          "id": "id10",
          "pubkey": "pubkey3",
          "created_at": 1632871,
          "kind": 1,
          "tags": [],
          "content": "cool content",
          "sig": "xyz"
      };
      const eventData2 = {
        "id": "id11",
        "pubkey": "pubkey2",
        "created_at": 6666666,
        "kind": 1,
        "tags": [],
        "content": "not so cool content",
        "sig": "abc"
      };
      const eventData3 = {
        "id": "id12",
        "pubkey": "pubkey1",
        "created_at": 6666666,
        "kind": 0,
        "tags": [],
        "content": "{name: <username>, about: <string>, picture: <url, string>}",
        "sig": "abc"
      };
      const eventData4 = {
        "id": "id13",
        "pubkey": "pubkey1",
        "created_at": 6666666,
        "kind": 0,
        "tags": [],
        "content": "{name: <username>, about: <string>, picture: <url, string>}",
        "sig": "abc"
      };
      const reqData = {
          "kinds": [1]
      }
      const reqData2 = {
        "authors": ["pubkey3"],
        "kinds": [1],
      }
      const reqDataKind0 = {
        "kinds": [0],
      }

      const eventMessage = JSON.stringify(["EVENT", eventData]);
      const eventMessage2 = JSON.stringify(["EVENT", eventData2]);
      const eventMessage1_0 = JSON.stringify(["EVENT", eventData3]);
      const eventMessage2_0 = JSON.stringify(["EVENT", eventData4]);
      const reqMessage = JSON.stringify(["REQ", "sample_sub_id", reqData]);
      const reqMessage2 = JSON.stringify(["REQ", "sample_sub_id2", reqData2, reqData]);
      const reqMessage3 = JSON.stringify(["REQ", "sample_sub_id4", reqDataKind0]);
      const closeMessage = JSON.stringify(["CLOSE", "sample_sub_id"]);
      const closeMessage2 = JSON.stringify(["CLOSE", "sample_sub_id2"]);
      const closeMessage3 = JSON.stringify(["CLOSE", "sample_sub_id3"]);
      const invalidMessage = JSON.stringify(["INVALID", "message :("]);

      socket.addEventListener('open', function (event) {
        console.log('WebSocket connection opened:', event);
      });

      socket.addEventListener('message', function (message) {
        console.log('Message from relay:', message.data);
      });

      socket.addEventListener('close', function (message) {
        console.log('WebSocket connection closed:', message);
      });

      function sendEvent() {
        console.log('Sending message:', eventMessage);
        socket.send(eventMessage);
      }

      function sendEvent2() {
        console.log('Sending message:', eventMessage2);
        socket.send(eventMessage2);
      }

      function sendReq() {
          console.log('Sending message:', reqMessage);
          socket.send(reqMessage);
      }

      function sendReq2() {
        console.log('Sending message:', reqMessage2);
        socket.send(reqMessage2);
      }

      function sendReq3() {
        console.log('Sending message:', reqMessage3);
        socket.send(reqMessage3);
      }

      function sendClose() {
          console.log('Sending message:', closeMessage);
          socket.send(closeMessage);
      }

      function sendClose2() {
        console.log('Sending message:', closeMessage2);
        socket.send(closeMessage2);
      }

      function sendClose3() {
        console.log('Sending message:', closeMessage3);
        socket.send(closeMessage3);
      }

      function sendInvalid() {
        console.log('Sending message:', invalidMessage);
        socket.send(invalidMessage);
      }

      function sendKind0() {
        console.log('Sending message:', eventMessage1_0);
        socket.send(eventMessage1_0);
      }

      function sendKind0_2() {
        console.log('Sending message:', eventMessage2_0);
        socket.send(eventMessage2_0);
      }

      function reqKind0() {
        console.log('Sending message:', reqMessage3);
        socket.send(reqMessage3);
      }

    </script>
  </body>
</html>