<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Very dumb NOSTR client</title>
  </head>
  <body>
  <button id="sendEvent1" onclick="sendEvent()">Send Event</button>
  <button id="sendEvent2" onclick="sendEvent2()">Send Event 2</button>
  <button id="sendReq1" onclick="sendReq()">Send Req</button>
  <button id="sendReq2" onclick="sendReq2()">Send Req 2</button>
  <button id="sendClose" onclick="sendClose()">Send Close</button>
  <button id="sendClose2" onclick="sendClose2()">Send Close 2</button>
  <script>

      let socket = new WebSocket('ws://localhost:8080');
      const eventData = {
          "id": "9b0c1d2e3f4a5b6c7d8e9f0",
          "pubkey": "pubkey3",
          "created_at": 1632871,
          "kind": 1,
          "tags": [],
          "content": "arbitrary content",
          "sig": "abcdef0123456789abcde"
      };
      const eventData2 = {
        "id": "sesae3f4a5b6c7d8e9f0",
        "pubkey": "pubkey2",
        "created_at": 6666666,
        "kind": 1,
        "tags": [],
        "content": "arbitrary content",
        "sig": "abcdef0123456789abcde"
      };
      const reqData = {
          "ids": ["fedcba551", "aaaaaab"],
          "authors": ["d2e3f4a5b6c7d8e9f0a1b2c3", "pubkey2", "pubkey3"],
          "kinds": [0, 1],
          "#e": ["sdfs", "gzhh", "df"],
          "#p": ["pubkey2", "pubkey5", "pubkey6"],
          "since": 1642156800,
          "until": 1642243200,
          "limit": 10
      }
      const reqData2 = {
        "ids": ["fedcba551", "aaaaaab"],
        "authors": ["pubkey1"],
        "kinds": [0, 1],
        "#e": ["sdfs", "gzhh", "df"],
        "#p": ["pubkey2", "pubkey5", "pubkey6"],
        "since": 1642156800,
        "until": 1642243200,
        "limit": 10
      }

      const eventMessage = JSON.stringify(["EVENT", eventData]);
      const eventMessage2 = JSON.stringify(["EVENT", eventData2]);
      const reqMessage = JSON.stringify(["REQ", "sample_sub_id", reqData]);
      const reqMessage2 = JSON.stringify(["REQ", "sample_sub_id2", reqData2]);
      const closeMessage = JSON.stringify(["CLOSE", "sample_sub_id"]);
      const closeMessage2 = JSON.stringify(["CLOSE", "sample_sub_id2"]);

      socket.addEventListener('open', function (event) {
        console.log('WebSocket connection opened:', event);
      });

      socket.addEventListener('message', function (message) {
        console.log('Message from relay:', message.data);
      });

      socket.addEventListener('close', function (message) {
        console.log('WebSocket connection closed:', message);
      });

      function sendEvent() {
        console.log('Sending message:', eventMessage);
        socket.send(eventMessage);
      }

      function sendEvent2() {
        console.log('Sending message:', eventMessage2);
        socket.send(eventMessage2);
      }

      function sendReq() {
          console.log('Sending message:', reqMessage);
          socket.send(reqMessage);
      }

      function sendReq2() {
        console.log('Sending message:', reqMessage2);
        socket.send(reqMessage2);
      }

      function sendClose() {
          console.log('Sending message:', closeMessage);
          socket.send(closeMessage);
      }

      function sendClose2() {
        console.log('Sending message:', closeMessage2);
        socket.send(closeMessage2);
      }

    </script>
  </body>
</html>